
h1 {
text-align:center;
font-size: 2.5em;
margin-bottom: 4%;

}

nav
{
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 90%;
    height: 40px;
    background:#2F4F4F;
}
 
nav .menu
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;

}
 
nav .menu a 
{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: #F0FFF0;
}
 
nav a:hover 
{
    background: #708090;
}

*{ 
    font-family: 'Josefin Sans', sans-serif;
}


form label{
    display: block;
    margin-bottom: 1%;
    margin-left:39%;
    font-size: 1.2em;
    }


form input{
    margin-bottom: 2%;
    margin-left:39%;
    display: block;
    font-size: 1em;
    height:30px;
    width:280px;
} 

#bouton {
    background-color: #708090;
    border: none;
    padding: 0.7%;
    border-radius: 50px;
    color: aliceblue;
    height:30px;
    width:100px;
    margin-left:46%;
}



html { 
    background-color: #2F4F4F;
    font-size: 100%;
}   

body {
    color: #F0FFF0 ;
    font-size: 1em;
}