h1 {
    text-align:center;
    font-size: 2.5em;
    margin-bottom:  4%;
    
    }
    
    p {
        text-align: center;
        margin-bottom: 3%;
    }
    #boutonLancerPartie {
        margin-left: 48%;
        width: 7em;
        height: 3em;
        border-radius: 50px;
        border: none;
        cursor: pointer;
    
    }
    
    #plateaudejeu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 50%;
        margin:auto;
    }



.carte {
        width: 18%;
        height:18%;
        margin:2%;
    
    }
    
nav 
    {
        margin-top: 1%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        width: 90%;
        height: 40px;
        background:#2F4F4F;
    }
     
nav .menu
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
    
    }
     
nav .menu a 
    {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        color: #F0FFF0;
    }
     
nav a:hover 
    {
        background: #708090;
    }
    
    *{ 
        font-family: 'Josefin Sans', sans-serif;
    }
    
    html { 
        background-color: #2F4F4F;
        font-size: 100%;
    }   
    
    body {
        color: #F0FFF0 ;
        font-size: 1em;
    }

  