
h1 {
text-align:center;
font-size: 2.5em;
}

h2 {
    font-size: 1,2em;
    margin-top: 5%;
    text-align: center;
}

h3 {
    font-size: 1,5em;
    margin-top: 5%;
    margin-left: 7%;
    text-decoration: underline;  
}

ul {
    font-size: 1,8em;
    margin-top: 2%;
    margin-left: 5%;
}

li {
    line-height: 120%;
}

.conseil {
    border-style: ridge;
    border-radius: 50px;
    margin-left: 45%;
    margin-right: 7%;
    margin-top: 10%;
    padding: 1%;
    text-align:center;
    line-height: 120%;
}

img {
    width: 300px;
    height:250px;
    display: flex;
    align-items: end;
    margin: auto;
    margin-top: 5%;
    text-align:center;
}

.flotte {
    float:left;
    margin-left: 11%;
}

nav {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 90%;
    height: 40px;
    background:#2F4F4F;
}
 
nav .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
nav .menu a {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: #F0FFF0;
}
 
nav a:hover {
    background: #708090;
}

*{ 
    font-family: 'Josefin Sans', sans-serif;
}

html { 
    background-color: #2F4F4F;
    font-size: 100%;
}   

body {
    color: #F0FFF0 ;
    font-size: 1em;
}